section#creations
    div(class=" container max-w-6xl mx-auto my-32 px-6 text-gray-900 md:px-0")
        div(class="flex justify-center mb-20 md:justify-between")
            h2(class="text-4xl text-center uppercase md:text-left md:text-5xl") Our Creations
            button(class="hidden btn md:block") see all
        div(class="items-container")
            div(class="group item")
                img(src="images/desktop/image-deep-earth.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-deep-earth.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Deep Earth 
            div(class="group item")
                img(src="images/desktop/image-night-arcade.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-night-arcade.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Night Arcade 
            div(class="group item")
                img(src="images/desktop/image-soccer-team.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-soccer-team.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Soccer Team VR
            div(class="group item")
                img(src="images/desktop/image-grid.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-grid.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 The Grid
        div(class="items-container mt-10")
            div(class="group item")
                img(src="images/desktop/image-from-above.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-from-above.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 from above VR
            div(class="group item")
                img(src="images/desktop/image-pocket-borealis.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-pocket-borealis.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Milky Way
            div(class="group item")
                img(src="images/desktop/image-curiosity.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-curiosity.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Curiosity 
            div(class="group item")
                img(src="images/desktop/image-fisheye.jpg", alt="" class="hidden w-full duration-200 md:block group-hover:scale-110")
                img(src="images/mobile/image-fisheye.jpg", alt="" class="w-full md:hidden")
                div(class="item-gradient")
                h5 Fish Eye
        div(class="flex justify-center mt-10 md:hidden")
            button(class="btn w-full md:hidden") See All