footer.bg-black
    div(class="container max-w-6xl py-10 mx-auto")
        div(class="flex flex-col items-center mb-8 space-y-6 md:flex-row md:space-y-0 md:justify-between md:items-start")
            div(class="flex flex-col items-center space-y-8 md:items-start md:space-y-4")
                img(src="images/logo.svg", alt="" class="w-44 md:ml-3") 
                div(class="flex flex-col items-center space-y-4 font-bold text-white md:flex-row md:space-y-0 md:space-x-6 md:ml-3")
                    div.h-10.group
                        a(href="#") About
                        div(class="mx-2 group-hover:border-b group-hover:border-blue-50") 
                    div.h-10.group
                        a(href="#") Careers
                        div(class="mx-2 group-hover:border-b group-hover:border-blue-50") 
                    div.h-10.group
                        a(href="#") Events
                        div(class="mx-2 group-hover:border-b group-hover:border-blue-50") 
                    div.h-10.group
                        a(href="#") Products
                        div(class="mx-2 group-hover:border-b group-hover:border-blue-50") 
                    div.h-10.group
                        a(href="#") Support
                        div(class="mx-2 group-hover:border-b group-hover:border-blue-50") 
            div(class="flex flex-col items-start justify-between space-y-4 text-gray-500")                
                div(class="flex items-center justify-center mx-auto space-x-4 md:justify-end")
                    div(class="h-8 group")   
                        a(href="#") 
                            img(src="images/icon-facebook.svg", alt="")
                    div(class="h-8 group")   
                        a(href="#") 
                            img(src="images/icon-twitter.svg", alt="")
                    div(class="h-8 group")   
                        a(href="#") 
                            img(src="images/icon-pinterest.svg", alt="")
                    div(class="h-8 group")   
                        a(href="#") 
                            img(src="images/icon-instagram.svg", alt="")
                div.font-bold 2022 &copy; Loopstudios. All Rights Reserved