section#hero 
    div(class="container max-w-6xl mx-auto px-6 py-12")
        nav(class="flex items-center justify-between font-bold text-white")
            img(src="images/logo.svg", alt="")
            div(class="hidden h-10 font-alata md:flex md:space-x-8")
                div(class="group")
                    a(href="#") About 
                    div(class="mx-2 group-hover:border-b group-hover:border-blue-50")
                div(class="group")
                    a(href="#") Careers
                    div(class="mx-2 group-hover:border-b group-hover:border-blue-50")
                div(class="group")
                    a(href="#") Events
                    div(class="mx-2 group-hover:border-b group-hover:border-blue-50")
                div(class="group")
                    a(href="#") Products 
                    div(class="mx-2 group-hover:border-b group-hover:border-blue-50")
                div(class="group")
                    a(href="#") Support
                    div(class="mx-2 group-hover:border-b group-hover:border-blue-50")
            div(class="md:hidden")            
                button(id="menu-btn" class="z-40 block hamburger md:hidden focus:outline-none" type="button")
                    span(class="hamburger-top")
                    span(class="hamburger-middle")
                    span(class="hamburger-bottom")
        div( id="menu" class="absolute hidden top-0 bottom-0 left-0  flex-col self-end  w-full min-h-screen py-1 pt-20 pl-12 space-y-3 text-lg text-white uppercase bg-black")            
            a(href="#" class="hover:text-pink-500") About
            a(href="#" class="hover:text-pink-500") Careers
            a(href="#" class="hover:text-pink-500") Events
            a(href="#" class="hover:text-pink-500") Products
            a(href="#" class="hover:text-pink-500") Support

        div(class="max-w-lg mt-32 mb-32 p-4 font-sans text-4xl text-white uppercase border-2 md:p-10 md:mx-0 md:text-6xl") impressive experience that deliver