doctype html 
html 
    head 
        include head.pug
        +head("Loop Studios")    
    body 
        include hero.pug 
        include feature.pug
        include creations.pug
        include footer.pug
